.DS_Stone
fuel/app/logs/*/*/*
fuel/app/cache/*/*
fuel/app/config/db.php
public/assets/img/article/*
public/assets/img/creators/*
public/assets/img/draft/*
public/assets/img/itunes/*
public/assets/img/twitter/*
public/assets/img/vine/*
public/user/*
public/feed.xml
public/sitemap.xml
!.gitkeep
