.DS_Stone
fuel/app/logs/*/*/*
fuel/app/cache/*/*
fuel/app/config/db.php
fuel/app/config/development/*
fuel/app/config/production/*
fuel/app/config/staging/*
public/assets/img/article/*
public/assets/img/draft/*
public/assets/img/itunes/*
public/assets/img/twitter/*
public/assets/img/vine/*
public/assets/user/*
