/***
body
***/
#wrapper {
    background-color: #ffffff;
}
body {
    background-color: #ffffff;
}
.main {
    background-color: #ffffff;
}
/***************

*****************/
.second_navi {
	display: none;
}

.sidebar {
    float: left;
}
.main_contents {
    float: right;
}




/*****
テーマ
*****/
.theme_data_card {

}
.theme_data_card_inner {
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 0 0 1px #e7e7e7;
    padding: 15px;
}
.theme_data_card_inner .theme_auxiliary {
    color: #c7c7c7;
    font-size: 82%;
}
.theme_data_card_inner .theme_title {
	font-size: 200%;
	margin: 0 0 15px;
}
.theme_data_card_inner .theme_title a {
	color: #292f33;
}

.theme_data_card_inner .theme_summary {
	line-height: 140%;
	margin: 0 0 15px;
}
.theme_data_card_inner .theme_follow {
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
    border: 1px solid #10a3ff;
    border-radius: 2px;
    box-sizing: content-box;
    color: #10a3ff;
    cursor: pointer;
    display: inline-block;
    padding: 1px 5px;
}

.theme_data_card_inner .theme_follow:hover {
	background-color: #10a3ff;
	color: #ffffff;
}
.theme_data_card_inner .theme_follow .typcn-plus {

}

.theme_data_card_inner .theme_follow_text {
    color: #c7c7c7;
    font-size: 82%;
}
/*********
関連テーマ
**********/
.theme_relation {
	margin: 13px 0 0;
}
.theme_relation h2 {
	font-size: 100%;
}
.theme_relation ul {
    margin: 0;
    padding: 0;
}
.theme_relation ul li {
    border: 1px solid #e7e7e7;
    color: #666;
    float: left;
    list-style: outside none none;
    font-size: 75%;
    margin: 10px 10px 0 0;
	z-index: 1;
}

.theme_relation ul li a {
    color: #666;
    padding: 10px 0px 10px 5px;
}
.theme_relation ul li a .theme_num {
	background-color: #FCFCFC;
	padding: 7px 7px 8px 7px;
	margin: 0px 0px 0px 6px;
	border-left: 1px solid #e7e7e7;
	position: relative;
	top: -1px;
	color: #292f33;
	z-index: -1;
}



.theme_relation ul li .typcn-folder {
	font-size: 125%;
}
.theme_relation ul li .typcn-tag {
font-size: 110%;
margin: 0px 3px 0px 0px;
position: relative;
top: 0px;
}




/********


**********/
.theme_count {

}
.theme_count h2 {
	display: inline;
}
.theme_count .theme_count_number {
    font-weight: bold;
    margin: 0 5px;
}

















/*********************
キュレーターランキング
*********************/
.theme_curator_ranking {
	margin: 20px 0 0;
}
.theme_curator_ranking h2 {
	font-size: 100%;
	margin: 0 0 10px;
}
.theme_curator_ranking ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.theme_curator_ranking ul li {
	margin: 5px 0 0;
}
.theme_curator_ranking ul li .theme_curator_ranking_data {

}
.theme_curator_ranking ul li .theme_curator_ranking_data a {
	display: block;
}



.theme_curator_ranking ul li .theme_curator_ranking_data .theme_curator_ranking_data_left {
float: left;
}
.theme_curator_ranking ul li .theme_curator_ranking_data .theme_curator_ranking_data_left img {
    height: auto;
    width: 48px;
}
.theme_curator_ranking ul li .theme_curator_ranking_data .theme_curator_ranking_data_right {
float: left;
	margin: 0 0 0 10px;
color: #545454;
}
.theme_curator_ranking ul li .theme_curator_ranking_data .theme_curator_ranking_data_right .ranking_word {
	position: relative;
	margin: 0;
	padding: 5px 0 0 16px;
}
.theme_curator_ranking ul li .theme_curator_ranking_data .theme_curator_ranking_data_right .ranking_name {
	margin: -5px 0 0;
}

/*
ランキングデザイン
http://www.pressmantech.com/tech/cording/4041
**/




.ranking{
margin: 0;
padding: 0;
list-style-type: none;
}
.ranking li .theme_curator_ranking_data .theme_curator_ranking_data_right .ranking_word {

}
.ranking li .theme_curator_ranking_data .theme_curator_ranking_data_right .ranking_word::before {
position: absolute;
top: 13px;
left: 1px;
color: #d05;
content: "★";
font-size: 9px;
}
.ranking li .theme_curator_ranking_data .theme_curator_ranking_data_right .ranking_word::before{
position: absolute;
top: 7px;
left: 0;
width: 0;
height: 0;
border: 6px solid transparent;
border-bottom: 10px solid #fb0;
content: "";
}
.ranking li .theme_curator_ranking_data .theme_curator_ranking_data_right .ranking_word::after{
position: absolute;
top: 15px;
left: 0;
width: 0;
height: 0;
border: 6px solid #fb0;
border-top: 3px solid transparent;
border-bottom: 6px solid #f90;
content: "";
}

.place_2::before{
	border-bottom: 10px solid #ccc !important;
}
.place_2::after{
	border: 6px solid #ccc !important;
	border-top: 3px solid transparent !important;
	border-bottom: 6px solid #aaa !important;
}
.place_3::before{
	border-bottom: 10px solid #d98 !important;
}
.place_3::after{
	border: 6px solid #d98 !important;
	border-top: 3px solid transparent !important;
	border-bottom: 6px solid #c76 !important;
}

.place_4::before{
	border-bottom: 0px solid #d98 !important;
}
.place_4::after{
	border: 0px solid #d98 !important;
	border-top: 0px solid transparent !important;
	border-bottom: 0px solid #c76 !important;
}

.place_5::before{
	border-bottom: 0px solid #d98 !important;
}
.place_5::after{
	border: 0px solid #d98 !important;
	border-top: 0px solid transparent !important;
	border-bottom: 0px solid #c76 !important;
}










































/**********

**********/
@media screen and (min-width:0px)and (max-width:1023px) {
	.sidebar {
	    display: block;
	    float: none;
	    margin: 0 0 30px;
	    width: 100%;
	}
	.theme_relation {
	    margin: 13px 10px 10px;
	    padding: 5px;
	}
	.theme_count {
	    margin: 0 0 0 10px;
	}
	/*********************
	キュレーターランキング
	*********************/
	.theme_curator_ranking {
    margin: 20px 10px 10px;
    padding: 5px;
	}

}
@media screen and (min-width:0px)and (max-width:768px) {
	.main {
	    padding: 52px 0 0;
	}
}
@media screen and (min-width:0px)and (max-width:320px) {
	.main {
	    padding: 0;
	}
}
