
.about {
    background-color: #FCFCFC;
    border-bottom: 2px solid #E7E7E7;
    border-radius: 2px;
    box-shadow: 0 0 0 2px #E7E7E7;
    margin-bottom: 60px;
    padding: 15px;
    position: relative;

}
.about_contents {

}

/*************************
メディアクエリ設定 0〜1023
*************************/
@media screen and (min-width: 0px) and (max-width: 1023px) {

}
/************************
メディアクエリ設定 0〜320
************************/
@media screen and (min-width: 0px) and (max-width: 320px) {
	/****
	about
	****/
	.about {

	}
}



