#wrapper {
	background-color: #FFFFFF;
}
.main {
	background-color: #FFFFFF;
}


.about {
	background-color: #FFFFFF;
    margin-bottom: 60px;
    padding: 15px;
    position: relative;

}
.about_contents {

}

.about_h_0 {
    color: rgba(0, 0, 0, 0.57);
    font-size: 280%;
    font-weight: bold;
    position: relative;
    top: 0;
}


/*************************
メディアクエリ設定 0〜1023
*************************/
@media screen and (min-width: 0px) and (max-width: 1023px) {

}
/************************
メディアクエリ設定 0〜320
************************/
@media screen and (min-width: 0px) and (max-width: 320px) {
	/****
	about
	****/
	.about {

	}
}



