@charset "utf-8";

/***
body
***/
body {
	background-color: #FFFFFF;
}
.admin_right {
    background-color: #ffffff;
}
.columns_2 {
    padding: 30px 0;
}

/*********************
フォームボタンデザイン
*********************/
.matome_submit {
	background-color: #ee5036;
	border: 1px solid #e3452b;
	border-radius: 3px;
	color: #fcfcfc;
	cursor: pointer;
	font-size: 82%;
	padding: 5px 3px;
}
.matome_draft {
	background-color: #ee5036;
	border: 1px solid #e3452b;
	border-radius: 3px;
	color: #fcfcfc;
	cursor: pointer;
	font-size: 82%;
	padding: 5px 3px;
}
.matome_edit {
	background-color: #ee5036;
	border: 1px solid #e3452b;
	border-radius: 3px;
	color: #fcfcfc;
	cursor: pointer;
	font-size: 82%;
	padding: 5px 3px;
}


.matome_draft:active {
/*
	    height: 500px;
    width: 500px;
*/
}
.matome_category {
	cursor: pointer;
	padding: 5px;
}

.postbox .postbox_contents .matome_tag {
    background-color: #fbfbfb;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    box-sizing: border-box;
    color: #606060;
    font-size: 82%;
    height: 30px;
    padding: 5px;
    width: 100%;
}
/*****
見出し
*****/
.heading_5 {
    border-left: 4px solid #ed482d;
    font-size: 125%;
    line-height: 1.4;
    margin: 30px 0 25px;
    padding: 15px;
}

.h2_heading_1 {
    font-size: 125%;
    line-height: 1.4;
    margin: 30px 0 25px;
 padding: 15px 0 0 20px;
 position: relative;
}
 
.h2_heading_1:before {
    border: 1px solid;
    border-radius: 2px;
    color: #ed482d;
    content: "";
    font-size: 95%;
    height: 14px;
    left: 0;
    position: absolute;
    top: 6px;
    width: 14px;
}
 
.h2_heading_1:after {
    border: 1px solid;
    border-radius: 2px;
    color: #ed482d;
    content: "";
    font-size: 95%;
    height: 14px;
    left: 9px;
    position: absolute;
    top: -3px;
    width: 14px;
}
/*******
中見出し
*******/
.h3_heading_1 {
    margin: 0 0 1px;
    padding: 0 0 0 19px;
    position: relative;
}     
.h3_heading_1:before {
    border: 1px solid;
    border-radius: 2px;
    color: #ed482d;
    content: "";
    font-size: 95%;
    height: 12px;
    left: 0;
    position: absolute;
    top: 15%;
    width: 12px;
}
/*******
小見出し
*******/
.h4_heading_1 {
	padding: 0 0 0 5px;
	position: relative;
}     
.h4_heading_1:before {
    background-color: #ed482d;
    border-radius: 2px;
    color: #ed482d;
    content: "";
    font-size: 95%;
    height: 14px;
    left: 0;
    position: absolute;
    top: 12%;
    width: 1px;
}











/***
動画
***/
.video {
    height: 0;
    margin: 0 0 15px;
    padding-bottom: 39.4%;
    position: relative;
}
.video iframe {
    border-radius: 2px !important;
    height: 100% !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 70% !important;
}




/********************
既存css書き換えクラス
********************/
.new_post_contents {
    margin: 30px 30px 0;
    width: 694px;
}
.new_post  #title {
    display: inline;
    font-size: 150%;
    font-weight: bold;
    line-height: 120%;
}
.new_post input {
    background-color: #fbfbfb;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    box-sizing: border-box;
    color: #606060;
    font-size: 100%;
    padding: 10px;
    width: 100%;
}




/*****************
文字カウントツール
*****************/
.text_count_tool {
    left: 15px;
    position: fixed;
    top: 110px;
}
.text_count_tool .text_count_tool_inner {

}
.text_count_tool .text_count_tool_inner_count {
	font-size: 92%;
}
.text_count_tool .text_count_tool_inner_count h4 {
	font-weight: normal;
}
.text_count_tool .text_count_tool_inner_count p {
	margin: 0;
}
.text_count_tool .text_count_tool_inner_count .rank {
	font-weight: bold;
}


/*************
文字装飾ツール
*************/
.text_design_tool {
    left: 15px;
    position: fixed;
    top: 199px;
}
.text_design_tool_content {
	width: 135px;
	background-color: #fcfbf9;
	box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
	border-radius: 2px;
	padding: 5px;
	width: 135px;
}
.text_design_tool_content_title {
    color: #474747;
    font-weight: bold;
}

.text_design_tool_content_list {
	padding: 0;
	margin: 0;
	list-style: none;
	width: 110px;
}
.text_design_tool_content_list li {
    cursor: pointer;
    float: left;
    margin: 0 0 0 15px;
}
.text_design_tool_content_list_h3_button, 
.text_design_tool_content_list_h4_button, 
.text_design_tool_content_list_strong_button,
.text_design_tool_content_list_bold_button,
.text_design_tool_content_list_marker_button,
.text_design_tool_content_list_text_red_color_button,
.text_design_tool_content_list_big_text_1_button,
.text_design_tool_content_list_big_text_1_red_color_button,
.text_design_tool_content_list_big_text_2_button,
.text_design_tool_content_list_big_text_2_red_color_button,
.text_design_tool_content_list_big_text_3_button,
.text_design_tool_content_list_big_text_3_red_color_button





 {
   background-color: #fcfcfc;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    color: #606060;
    cursor: pointer;
    font-size: 82%;
		margin: 0 0 10px;
    padding: 3px 7px;
}
.text_design_tool_content_list_bold_button {

}
.text_design_tool_content_list_font_size_big {

}
.text_design_tool_content_list_font_size_small  {

}
.text_design_tool_content_list_change {

}
.text_design_tool_content_list_change .typcn, 
.text_design_tool_content_list_change_2 .typcn {
    width: 26px;
    font-size: 26px;
    height: 26px;
}
/***********
アイテム追加
***********/
.item_add {
	background-color: #fcfbf9;
	border-radius: 2px;
	box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
	margin: 30px 0;
}
.item_add_content {
	padding: 5px;
}
.item_add_content_title {
	float: left;
	font-weight: bold;
	color: #474747;
	margin: 0 15px 0 0;
}
.item_add_content_list {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
.item_add_content_list li {
	float: left;
	margin: 0 0 0 15px;
	cursor: pointer;
}
.item_add_content_list_link {

}
.item_add_content_list_image {

}
.item_add_content_list_video {

}
.item_add_content_list_quote {

}
.item_add_content_list_twitter {

}
.item_add_content_list_text {

}
.item_add_content_list_title {

}
.item_add_content_list li.item_add_content_list_change, .item_add_content_list li.item_add_content_list_change_2, .item_add_content_list li.item_add_content_list_change_3 {
	float: right;
}
.item_add_content_list_change .typcn, .item_add_content_list_change_2 .typcn, .item_add_content_list_change_3 .typcn {
    width: 26px;
    font-size: 26px;
    height: 26px;
}
/************
アイテム追加2
************/
.item_add_content_list_timeline {

}
/***************
間にアイテム追加
***************/
.item_between_add {
	background-color: #f0f0f0;
	border-radius: 2px;
	box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
	position: relative;
	margin: 30px 0;
}
.item_between_add_content {
	padding: 5px;
	position: relative;
}
.item_between_add_content_title {
	float: left;
	font-weight: bold;
	color: #474747;
	margin: 0 15px 0 0;
}
.item_between_add_content_cancel {
    cursor: pointer;
    float: right;
    height: 28px;
    padding: 0 5px 0 6px;
    width: 17px;
}
.item_between_add_content_list {
	list-style: outside none none;
	margin: 0;
	padding: 0;
	float: left;
}
.item_between_add_content_list li {
	float: left;
	margin: 0 0 0 15px;
	cursor: pointer;
}
.item_between_add_content_list_link {

}
.item_between_add_content_list_img {

}
.item_between_add_content_list_video {

}
.item_between_add_content_list_quote {

}
.item_between_add_content_list_twitter {

}
.item_between_add_content_list_text {

}
.item_between_add_content_list_title {

}
.item_between_add_content_list_change, 
.item_between_add_content_list_change_2,
.item_between_add_content_list_change_3 {
	cursor: pointer;
	float: right;
}
.item_between_add_content_list_change .typcn, 
.item_between_add_content_list_change_2 .typcn,
.item_between_add_content_list_change_3 .typcn {
    width: 26px;
    font-size: 26px;
    height: 26px;
}






/*********************
間にアイテム追加ボタン
*********************/
.item_add_between {
    height: 17px;
    margin: 0;
    overflow: hidden;
    position: relative;
    top: -12px;
}
.item_add_between:hover .item_add_between_content {
		top: 0;
}

.item_add_between:hover .dashed {
		top: -8px;
}

.item_add_between_content {
    background-color: #fcfbf9;
    border: 1px solid #dadada;
    border-radius: 15px 30px 30px 15px;
    color: #474747;
    cursor: pointer;
    font-size: 13px;
    height: 15px;
    line-height: 100%;
    position: relative;
    top: -40px;
    width: 65px;
    z-index: 3;
}
.item_add_between .dashed {
    border-top: 1px dashed #474747;
    margin: 0 0 0 56px;
    position: relative;
    top: -15px;
		top: -40px;
}
.item_add_between_content .typcn {
    color: #ed482d;
    font-size: 16px;
    left: 0;
    margin: 0 7px 0 0;
    position: relative;
    top: 0;
}










/********************
アイテム テキスト追加
********************/
.text_add {
	margin: 30px 0;
}
.text_add_content {

}
.text_add_content textarea {
	box-sizing: border-box;
	height: 60px;
	color: #474747;
	border: 1px solid #cfcfcf;
	border-radius: 2px;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 5px;
	resize: none;
	width: 100%;
  font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 94%;
}
.text_add_content_button {

}
.text_add_content_button_left {
	float: left;
	margin: 0 5px 0 0;
}

.text_add_content_submit {
	background-color: #505050;
	border: 1px solid #dfdfdf;
	border-radius: 2px;
	color: #eeeeee;
	cursor: pointer;
	padding: 1px 5px;
}

.text_add_content_button_right {
	float: left;
}
.text_add_content_cancel {
	background-color: #fcfcfc;
	border: 1px solid #cfcfcf;
	border-radius: 2px;
	padding: 1px 5px;
	cursor: pointer;
}
/******************
アイテム 見出し追加
******************/
.title_add {
	margin: 30px 0;
}
.title_add_content {

}
.title_add_content textarea {
	font-size: 125%;
	line-height: 1.4;
	box-sizing: border-box;
	height: 60px;
	color: #474747;
	border: 1px solid #cfcfcf;
	border-left: 4px solid #ed482d;
	border-radius: 2px;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 15px;
	resize: none;
	width: 100%;
}





.title_add_content_button {

}
.title_add_content_button_left {
	float: left;
	margin: 0 5px 0 0;
}

.title_add_content_submit {
	background-color: #505050;
	border: 1px solid #dfdfdf;
	border-radius: 2px;
	color: #eeeeee;
	cursor: pointer;
	padding: 1px 5px;
}

.title_add_content_button_right {
	float: left;
}
.title_add_content_cancel {
	background-color: #fcfcfc;
	border: 1px solid #cfcfcf;
	border-radius: 2px;
	padding: 1px 5px;
	cursor: pointer;
}

/****************
アイテム 引用追加
****************/
.quote_add {
	margin: 30px 0;
}
.quote_add_content {

}
.quote_add_content textarea {
	box-sizing: border-box;
	height: 60px;
	color: #474747;
	border: 1px solid #cfcfcf;
	border-radius: 2px;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 5px;
	resize: none;
	width: 100%;
  font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 94%;
}
.quote_add_content input[type="text"] {
    background-color: #fbfbfb;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    box-sizing: border-box;
    color: #606060;
    font-size: 82%;
    padding: 5px;
    width: 100%;
}
.quote_add_content_word {
	margin: 6px 0 0 0;

}
.quote_add_content_button {

}
.quote_add_content_button_left {
	float: left;
	margin: 0 5px 0 0;
}

.quote_add_content_submit {
	background-color: #505050;
	border: 1px solid #dfdfdf;
	border-radius: 2px;
	color: #eeeeee;
	cursor: pointer;
	padding: 1px 5px;
}

.quote_add_content_button_right {
	float: left;
}
.quote_add_content_cancel {
	background-color: #fcfcfc;
	border: 1px solid #cfcfcf;
	border-radius: 2px;
	padding: 1px 5px;
	cursor: pointer;
}
/*****************
アイテム Tweet追加
*****************/
.twitter_add {
	margin: 30px 0;
}
.twitter_add_content {

}
.twitter_add_content_check_box {
	margin: 0 0 6px 0;
}
.twitter_add_content textarea {
	box-sizing: border-box;
	height: 60px;
	color: #474747;
	border: 1px solid #cfcfcf;
	border-radius: 2px;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 5px;
	resize: none;
	width: 100%;
  font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 94%;
}
.twitter_add_content input[type="text"] {
    background-color: #fbfbfb;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    box-sizing: border-box;
    color: #606060;
    font-size: 82%;
    padding: 5px;
		width: 100%;
}
.twitter_add_content_url {
	float: left;
	width: 60% !important;
}
.twitter_add_content_check {
    background-color: #505050;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    color: #eeeeee;
    cursor: pointer;
    float: left;
    font-size: 82%;
    line-height: 200%;
    margin: 0 0 0 5px;
    padding: 0 5px;

}
.twitter_add_content_word {
/*
	margin: 6px 0 0 0;
*/
}
.twitter_add_content_button {

}
.twitter_add_content_button_left {
	float: left;
	margin: 0 5px 0 0;
}

.twitter_add_content_submit {
	background-color: #505050;
	border: 1px solid #dfdfdf;
	border-radius: 2px;
	color: #eeeeee;
	cursor: pointer;
	padding: 1px 5px;
}

.twitter_add_content_button_right {
	float: left;
}
.twitter_add_content_cancel {
	background-color: #fcfcfc;
	border: 1px solid #cfcfcf;
	border-radius: 2px;
	padding: 1px 5px;
	cursor: pointer;
}
/****************
アイテム 動画追加
****************/
.video_add {
	margin: 30px 0;
}
.video_add_content {

}
.video_add_content_video_icon {
/*
    background-color: #fbfbfb;
    border: 0 solid #fbfbfb;
*/
		border-radius: 2px;
    height: 200px;
    margin: 0 0 6px;
    position: relative;
    width: 70%;
}
.video_add_content_video_icon .typcn {
    font-size: 500%;
    left: 42%;
    position: relative;
    top: 41%;
}
.video_add_content_check_box {
	margin: 0 0 6px 0;
}
.video_add_content textarea {
	box-sizing: border-box;
	height: 60px;
	color: #474747;
	border: 1px solid #cfcfcf;
	border-radius: 2px;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 5px;
	resize: none;
	width: 100%;
  font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 94%;
}
.video_add_content input[type="text"] {
    background-color: #fbfbfb;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    box-sizing: border-box;
    color: #606060;
    font-size: 82%;
    padding: 5px;
		width: 100%;
}
.video_add_content_code {
	float: left;
	width: 60% !important;
}
.video_add_content_check {
    background-color: #505050;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    color: #eeeeee;
    cursor: pointer;
    float: left;
    font-size: 82%;
    line-height: 200%;
    margin: 0 0 0 5px;
    padding: 0 5px;
}
.video_add_content_word {

}
.video_add_content_button {

}
.video_add_content_button_left {
	float: left;
	margin: 0 5px 0 0;
}
.video_add_content_submit {
	background-color: #505050;
	border: 1px solid #dfdfdf;
	border-radius: 2px;
	color: #eeeeee;
	cursor: pointer;
	padding: 1px 5px;
}
.video_add_content_button_right {
	float: left;
}
.video_add_content_cancel {
	background-color: #fcfcfc;
	border: 1px solid #cfcfcf;
	border-radius: 2px;
	padding: 1px 5px;
	cursor: pointer;
}

/****************
アイテム 画像追加
****************/
.image_add {
	margin: 30px 0;
}
.image_add_content {

}
.image_add_content_left {
    float: left;
		border-radius: 2px;
/*
    height: 200px;
*/
    margin: 0 0 6px;
    position: relative;
    width: 300px;
}
.image_add_content_left .typcn {
    font-size: 500%;
    left: 37%;
    position: relative;
    top: 25%;
}
.image_add_content_right {
    float: left;
    margin: 0 0 0 5px;
    width: 389px;
}
.image_add_content textarea {
	box-sizing: border-box;
	height: 60px;
	color: #474747;
	border: 1px solid #cfcfcf;
	border-radius: 2px;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 5px;
	resize: none;
	width: 100%;
  font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 94%;
}

.upload_button {
    background: dodgerblue none repeat scroll 0 0;
    border-radius: 2px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    line-height: 30px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 120px;
}
.upload_button:after {
    content: "ファイルを選択";
    font-size: 82%;
    position: relative;
    top: -4px;
}
.upload_button input[type="file"] {
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
		z-index: 10;
}
.image_add_content input[type="text"] {
    background-color: #fbfbfb;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    box-sizing: border-box;
    color: #606060;
    font-size: 82%;
    padding: 5px;
		width: 100%;
}
.image_add_content_code {
	float: left;
	width: 60% !important;
}
.image_add_content_check {
    background-color: #505050;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    color: #eeeeee;
    cursor: pointer;
    float: left;
    font-size: 82%;
    line-height: 200%;
    margin: 0 0 0 5px;
    padding: 0 5px;
}
.image_add_content_word {

}
.image_add_content_quote_title {
	margin: 0 0 5px;
}
.image_add_content_button {

}
.image_add_content_button_left {
	float: left;
	margin: 0 5px 0 5px;
}
.image_add_content_submit {
	background-color: #505050;
	border: 1px solid #dfdfdf;
	border-radius: 2px;
	color: #eeeeee;
	cursor: pointer;
	padding: 1px 5px;
}
.image_add_content_button_right {
	float: left;
}
.image_add_content_cancel {
	background-color: #fcfcfc;
	border: 1px solid #cfcfcf;
	border-radius: 2px;
	padding: 1px 5px;
	cursor: pointer;
}
/******************
アイテム リンク追加
******************/
.link_add {
	margin: 30px 0;
}
.link_add_content {

}
.link_add_content_check_box {
	margin: 0 0 6px 0;
}
.link_add_content textarea {
	box-sizing: border-box;
	height: 60px;
	color: #474747;
	border: 1px solid #cfcfcf;
	border-radius: 2px;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 5px;
	resize: none;
	width: 100%;
  font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 94%;

}
.link_add_content input[type="text"] {
    background-color: #fbfbfb;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    box-sizing: border-box;
    color: #606060;
    font-size: 82%;
    padding: 5px;
		width: 100%;
}
.link_add_content_url {
	float: left;
	width: 60% !important;
}
.link_add_content_check {
    background-color: #505050;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    color: #eeeeee;
    cursor: pointer;
    float: left;
    font-size: 82%;
    line-height: 200%;
    margin: 0 0 0 5px;
    padding: 0 5px;

}
.link_add_content_word {
/*
	margin: 6px 0 0 0;
*/
}
.link_add_content_button {

}
.link_add_content_button_left {
	float: left;
	margin: 0 5px 0 0;
}

.link_add_content_submit {
	background-color: #505050;
	border: 1px solid #dfdfdf;
	border-radius: 2px;
	color: #eeeeee;
	cursor: pointer;
	padding: 1px 5px;
}

.link_add_content_button_right {
	float: left;
}
.link_add_content_cancel {
	background-color: #fcfcfc;
	border: 1px solid #cfcfcf;
	border-radius: 2px;
	padding: 1px 5px;
	cursor: pointer;
}
/******************
アイテム Amazon追加
******************/
.amazon_add {
	margin: 30px 0;
}
.amazon_add_content {

}
.amazon_add_content textarea {
	box-sizing: border-box;
	height: 60px;
	color: #474747;
	border: 1px solid #cfcfcf;
	border-radius: 2px;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 5px;
	resize: none;
	width: 100%;
  font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 94%;

}
.amazon_add_content input[type="text"] {
    background-color: #fbfbfb;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    box-sizing: border-box;
    color: #606060;
    font-size: 110%;
    padding: 10px;
		margin: 0 0 5px;
		width: 100%;
}
.amazon_add_content_button {

}
.amazon_add_content_button_left {
	float: left;
	margin: 0 5px 0 0;
}

.amazon_add_content_submit {
	background-color: #505050;
	border: 1px solid #dfdfdf;
	border-radius: 2px;
	color: #eeeeee;
	cursor: pointer;
	padding: 1px 5px;
}

.amazon_add_content_button_right {
	float: left;
}
.amazon_add_content_cancel {
	background-color: #fcfcfc;
	border: 1px solid #cfcfcf;
	border-radius: 2px;
	padding: 1px 5px;
	cursor: pointer;
}
/************************
アイテム タイムライン追加
************************/
.timeline_add {
	margin: 30px 0;
}
.timeline_add_content {

}
.timeline_add_content textarea {
	box-sizing: border-box;
	height: 355px;
	color: #474747;
	border: 1px solid #cfcfcf;
	border-radius: 2px;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 5px;
	resize: none;
	width: 100%;
  font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 94%;
}
.timeline_add_content_button {

}
.timeline_add_content_button_left {
	float: left;
	margin: 0 5px 0 0;
}

.timeline_add_content_submit {
	background-color: #505050;
	border: 1px solid #dfdfdf;
	border-radius: 2px;
	color: #eeeeee;
	cursor: pointer;
	padding: 1px 5px;
}

.timeline_add_content_button_right {
	float: left;
}
.timeline_add_content_cancel {
	background-color: #fcfcfc;
	border: 1px solid #cfcfcf;
	border-radius: 2px;
	padding: 1px 5px;
	cursor: pointer;
}
/**********************
アイテム 見出し画像追加
**********************/
.heading_image_add {
	margin: 30px 0;
}
.heading_image_add_content {

}
.heading_image_add_content_left {
    border-radius: 2px;
    height: 200px;
    margin: 0 0 6px;
    position: relative;
    width: 100%;
}
.heading_image_add_content_left .typcn {
    font-size: 500%;
    left: 45%;
    position: relative;
    top: 43%;
}
.heading_image_add_content_right {
    margin: 0 0 0 281px;
}
.heading_image_add_content textarea {
	box-sizing: border-box;
	height: 60px;
	color: #474747;
	border: 1px solid #cfcfcf;
	border-radius: 2px;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 5px;
	resize: none;
	width: 100%;
  font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 94%;

}

.upload_button {
    background: dodgerblue none repeat scroll 0 0;
    border-radius: 2px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    line-height: 30px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 120px;
}
.upload_button:after {
    content: "ファイルを選択";
    font-size: 82%;
    position: relative;
    top: -4px;
}
.upload_button input[type="file"] {
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
		z-index: 10;
}
.heading_image_add_content input[type="text"] {
    background-color: #fbfbfb;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    box-sizing: border-box;
		font-weight: bold;
    color: #606060;
    font-size: 82%;
    padding: 5px;
		width: 100%;
}
.heading_image_add_content_code {
	float: left;
	width: 60% !important;
}
.heading_image_add_content_check {
    background-color: #505050;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    color: #eeeeee;
    cursor: pointer;
    float: left;
    font-size: 82%;
    line-height: 200%;
    margin: 0 0 0 5px;
    padding: 0 5px;
}
.heading_image_add_content_word {

}
.heading_image_add_content_button {
	 margin: 0 0 0 275px;
}
.heading_image_add_content_button_left {
	float: left;
	margin: 0 5px 0 5px;
}
.heading_image_add_content_submit {
	background-color: #505050;
	border: 1px solid #dfdfdf;
	border-radius: 2px;
	color: #eeeeee;
	cursor: pointer;
	padding: 1px 5px;
}
.heading_image_add_content_button_right {
	float: left;
}
.heading_image_add_content_cancel {
	background-color: #fcfcfc;
	border: 1px solid #cfcfcf;
	border-radius: 2px;
	padding: 1px 5px;
	cursor: pointer;
}
/******************
アイテム コード追加
******************/
.code_add {
	margin: 30px 0;
}
.code_add_content {

}
.code_add_content textarea {
		border-radius: 2px;
    background-color: #272822;
    color: #BEC0C1;
    box-sizing: border-box;
    height: 60px;
    border: 1px solid #272822;
    border-radius: 2px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 5px;
    resize: none;
    width: 100%;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    margin: 0;
    padding: 15px;
    line-height: 135%;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 94%;
    font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;

}
.code_add_content_button {

}
.code_add_content_button_left {
	float: left;
	margin: 0 5px 0 0;
}

.code_add_content_submit {
	background-color: #505050;
	border: 1px solid #dfdfdf;
	border-radius: 2px;
	color: #eeeeee;
	cursor: pointer;
	padding: 1px 5px;
}

.code_add_content_button_right {
	float: left;
}
.code_add_content_cancel {
	background-color: #fcfcfc;
	border: 1px solid #cfcfcf;
	border-radius: 2px;
	padding: 1px 5px;
	cursor: pointer;
}
/**********************
アイテム iTunes_App追加
**********************/
.itunes_app_add {
	margin: 30px 0;
}
.itunes_app_add_content {

}
.itunes_app_add_content_check_box {
	margin: 0 0 6px 0;
}
.itunes_app_add_content textarea {
	box-sizing: border-box;
	height: 60px;
	color: #474747;
	border: 1px solid #cfcfcf;
	border-radius: 2px;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 5px;
	margin-top: -20px;
	resize: none;
	width: 100%;
  font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 94%;
}
.itunes_app_add_content input[type="text"] {
    background-color: #fbfbfb;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    box-sizing: border-box;
    color: #606060;
    font-size: 82%;
    padding: 5px;
		width: 100%;
}
.itunes_app_add_content_url {
	float: left;
	width: 60% !important;
}
.itunes_app_add_content_check_box_description {
	margin: 0 0 4px;
}
.itunes_app_add_content_check_box_description input {
    background-color: #fbfbfb;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 100%;
    padding: 0;
    width: 25px;
}

.itunes_app_add_content_check {
    background-color: #505050;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    color: #eeeeee;
    cursor: pointer;
    float: left;
    font-size: 82%;
    line-height: 200%;
    margin: 0 0 0 5px;
    padding: 0 5px;

}
.itunes_app_add_content_word {
/*
	margin: 6px 0 0 0;
*/
}
.itunes_app_add_content_button {

}
.itunes_app_add_content_button_left {
	float: left;
	margin: 0 5px 0 0;
}

.itunes_app_add_content_submit {
	background-color: #505050;
	border: 1px solid #dfdfdf;
	border-radius: 2px;
	color: #eeeeee;
	cursor: pointer;
	padding: 1px 5px;
}

.itunes_app_add_content_button_right {
	float: left;
}
.itunes_app_add_content_cancel {
	background-color: #fcfcfc;
	border: 1px solid #cfcfcf;
	border-radius: 2px;
	padding: 1px 5px;
	cursor: pointer;
}
/********************
アイテム 吹き出し追加
********************/
.ballon_add {
	margin: 30px 0;
}
.ballon_add_content {

}
.ballon_add_content textarea {
	box-sizing: border-box;
	height: 60px;
	color: #474747;
	border: 1px solid #cfcfcf;
	border-radius: 2px;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 5px;
	resize: none;
	width: 100%;
  font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 94%;
}
.ballon_add_content_button {

}
.ballon_add_content_button_left {
	float: left;
	margin: 0 5px 0 0;
}

.ballon_add_content_submit {
	background-color: #505050;
	border: 1px solid #dfdfdf;
	border-radius: 2px;
	color: #eeeeee;
	cursor: pointer;
	padding: 1px 5px;
}

.ballon_add_content_button_right {
	float: left;
}
.ballon_add_content_cancel {
	background-color: #fcfcfc;
	border: 1px solid #cfcfcf;
	border-radius: 2px;
	padding: 1px 5px;
	cursor: pointer;
}
/****************
アイテム 囲み追加
****************/
.enclosed_add {
	margin: 30px 0;
}
.enclosed_add_content {

}
.enclosed_add_content textarea {
	box-sizing: border-box;
	height: 60px;
	color: #474747;
	border: 1px solid #cfcfcf;
	border-radius: 2px;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 5px;
	resize: none;
	width: 100%;
  font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 94%;
}
.enclosed_add_content_button {

}
.enclosed_add_content_button_left {
	float: left;
	margin: 0 5px 0 0;
}

.enclosed_add_content_submit {
	background-color: #505050;
	border: 1px solid #dfdfdf;
	border-radius: 2px;
	color: #eeeeee;
	cursor: pointer;
	padding: 1px 5px;
}

.enclosed_add_content_button_right {
	float: left;
}
.enclosed_add_content_cancel {
	background-color: #fcfcfc;
	border: 1px solid #cfcfcf;
	border-radius: 2px;
	padding: 1px 5px;
	cursor: pointer;
}
/****************************
アイテム アマゾンレビュー追加
****************************/
.amazon_review_add {
	margin: 30px 0;
}
.amazon_review_add_content {

}
.amazon_review_add_content textarea {
	box-sizing: border-box;
	height: 165px;
	color: #474747;
	border: 1px solid #cfcfcf;
	border-radius: 2px;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 5px;
	resize: none;
	width: 100%;
  font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 94%;
}
.amazon_review_add_content_button {

}
.amazon_review_add_content_button_left {
	float: left;
	margin: 0 5px 0 0;
}

.amazon_review_add_content_submit {
	background-color: #505050;
	border: 1px solid #dfdfdf;
	border-radius: 2px;
	color: #eeeeee;
	cursor: pointer;
	padding: 1px 5px;
}

.amazon_review_add_content_button_right {
	float: left;
}
.amazon_review_add_content_cancel {
	background-color: #fcfcfc;
	border: 1px solid #cfcfcf;
	border-radius: 2px;
	padding: 1px 5px;
	cursor: pointer;
}




















































/*****
まとめ
*****/
.matome {
	color: #292f33;
}
.matome_content {
	position: relative;
	margin: 0 0 300px;
    word-break: break-all;
    word-wrap: break-word;
}
.matome_content_block {
	position: relative;
	margin: 0 0 15px;
	color: #292f33;
}
.matome_content_block:hover {
	background-color: #f4f4f4;
}
/****************
まとめ内 テキスト
****************/
.matome_content_block_text {
	margin: 0 0 30px;
}
.matome_content_block_text pre {
	margin: 0;
	white-space: pre-wrap;
	word-wrap: break-word;
	font-size: 94%;
  font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}
.matome_content_block_text video {
    height: auto;
    width: 50%;
}

/**************
まとめ内 見出し
**************/
.matome_content_block_title {
	margin: 0 0 15px;
}
/************
まとめ内 引用
************/
.matome_content_block_quote {
	margin: 0 0 30px;
	padding: 0 0 0 36px;
}
.matome_content_block_quote pre {
    font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 94%;
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.matome_content_block_quote .author_word {

}
.matome_content_block_quote:before {
  color: rgba(0, 0, 0, 0.12);
  content: "“";
  font-family: serif;
  font-size: 370%;
  left: 5px;
  position: absolute;
  top: 15px;
}
.matome_content_block_quote .blockquote_font {
	line-height: 175%;
}

/***************
まとめ内 Twitter
***************/
.matome_content_block_twitter {
	margin: 0 0 25px;
}
.matome_content_block_twitter pre {
    font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 94%;
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.matome_content_block_twitter .author_word {

}
/***********
まとめ内 gif
***********/
.gif_media {

}
.gif_media video {
	height: auto;
	width: 50%;
}
/************
まとめ内 動画
************/
.matome_content_block_video {
	margin: 0 0 25px;
}
.matome_content_block_video pre {
    font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 94%;
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.matome_content_block_video .author_word {

}
.video_media {

}
.video_media video {
	height: auto;
	width: 70%;
}

/************
まとめ内 画像
************/
.matome_content_block_image {
	margin: 0 0 25px;
}
.matome_content_block_image .article_content_left_right {

}
.matome_content_block_image .article_content_left {

}
.matome_content_block_image {

}
.matome_content_block_image .article_content_right {

}
.matome_content_block_image .article_content_right h3 {

}
.matome_content_block_image .article_content_right pre {
    color: #474747;
    font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 94%;
    margin: 0 0 15px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.image_quote {

}
.image_quote .blockquote_font {
	line-height: 155%;
}
/**************
まとめ内 リンク
**************/
.matome_content_block_link {
	margin: 0 0 25px;
}
.matome_content_block_link_title {
    margin: 0;
}
.matome_content_block_link_title a {
    color: #474747;
    font-size: 125%;
    line-height: 100%;
}
.matome_content_block_link_url {
    line-height: 100%;
    margin: 0;
}
.matome_content_block_link_url a {

}
.matome_content_block_link_description {
    margin: 0;
}
.matome_content_block_link_word {
    border-left: 2px solid #dddddd;
    font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 94%;
    margin: 0 0 15px;
    padding: 0 0 0 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
/**************
まとめ内 Amazon
**************/
.matome_content_block_amazon {

}
.matome_content_block_amazon .amazon_link {

}
.matome_content_block_amazon .amazon_link h3 {
	margin: 0;
}
.matome_content_block_amazon .amazon_link_image {
    box-sizing: border-box;
    float: left;
		margin: 0 15px 0 0;
    width: 30%;
}

.amazon_link .amazon_link_image a img {
	border-radius: 2px;
  width: 100%;
}
.amazon_link .amazon_link_right {
	margin: 0 0 0 30%;
}
.matome_content_block_amazon .amazon_link_text {
/*
	float: left;
	width: 70%;
*/
	margin: 0 0 5px 0;

}
.matome_content_block_amazon .amazon_link_text a {
/*
	display: block;
*/
	font-weight: bold;
}
.matome_content_block_amazon .amazon_link_text .amazon_link_detail {
    border: 1px solid #009BD8;
    border-radius: 2px;
    color: #009BD8;
    padding: 5px 0;
}
.matome_content_block_amazon .amazon_link_detail {
		background-color: #232F3F;
    border: 0px solid #009BD8;
    border-radius: 2px;
    color: #009BD8;
    padding: 10px 0;
}
.matome_content_block_amazon .amazon_link_detail a {
    padding: 10px;
	display: inline;
	font-size: 84%;
}
.matome_content_block_amazon .amazon_link_detail a:link {
    color: #FFF;
}
.matome_content_block_amazon .amazon_link_detail a:visited {
    color: #009BD8;
    color: #FFF;
}
.matome_content_block_amazon .amazon_link_detail img {
    height: 100%;
    margin: 0 -6px 0px 0;
    width: 75px;
}
.matome_content_block_amazon .amazon_link_data {
	font-size: 94%;
	margin: 0 0 18px;
}
.matome_content_block_amazon .amazon_link_data .amazon_link_data_rating .typcn {
    color: #FFC000;
    margin: 0 -6px 0 0;
}
.matome_content_block_amazon .amazon_link_data .amazon_link_data_rating {
   float: left;
    width: 80px;
}
.matome_content_block_amazon .amazon_link_data .amazon_link_data_review {
	font-size: 84%;
}
.matome_content_block_amazon .amazon_link_data .price_title {
	color: #555;
}
.matome_content_block_amazon .amazon_link_data .amazon_link_data_price_strike {
	color: #555;
  text-decoration: line-through;
}
.matome_content_block_amazon .amazon_link_data .amazon_link_data_price {
	font-size: 120%;
	color: #b12704;
}
.matome_content_block_amazon .amazon_link_data .amazon_link_data_price_off {
	color: #b12704;
}
.matome_content_block_amazon .amazon_link_data .amazon_link_data_price_offer {

}

/********************
まとめ内 タイムライン
********************/
.matome_content_block_timeline {
    position: relative;
 margin: 0 0 30px;
}
.matome_content_block_timeline ol {
    position: relative;
	list-style-type: none;
	padding: 0 0 0 20px;
	margin: 0;
}
.matome_content_block_timeline li {
    position: relative;
}
.matome_content_block_timeline li.connection {
	margin: 0 0 0 -19px;
}
.matome_content_block_timeline li.connection:before {
    content: "";
    position: absolute;
    height: 100%;
}
.matome_content_block_timeline li.connection span {
	color: #44a3da;
	font-weight: bold;
}
.matome_content_block_timeline li.pointline:before {
    border-left: 2px solid #AEDCF8;
    border-right: 2px solid #AEDCF8;

    content: "";
    position: absolute;
    height: 100%;
}


.matome_content_block_timeline li:first-child:before {
		border-radius: 2px 2px 0 0;
		top:10px;
}
.matome_content_block_timeline li:last-child:before {
    border-left: 2px solid #AEDCF8;
    border-right: 2px solid #AEDCF8;
		border-radius: 0 0 2px 2px;
}
.matome_content_block_timeline dl {
    margin: 0;
		padding: 15px 0 15px 15px;
}
.matome_content_block_timeline dl .h3_heading_1 {
	margin: 3px 0 3px;
}
.matome_content_block_timeline dl .h3_heading_1:before {
	color: #AEDCF8;
}
.matome_content_block_timeline dl .h4_heading_1 {
	margin: 3px 0 3px;
}
.matome_content_block_timeline dl .h4_heading_1:before {
	background-color: #AEDCF8;
}

.matome_content_block_timeline dt {
    margin: 0px 0px 0 14px;
		font-weight: bold;
}
.matome_content_block_timeline dt:before {
    border-bottom: 1px solid #aedcf8;
    border-radius: 0 2px 2px 0;
    border-top: 1px solid #aedcf8;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: 27px;
    width: 24px;
}
.matome_content_block_timeline dt:after {
    border-top: 1px solid #AEDCF8;
    border-bottom: 1px solid #AEDCF8;
		border-radius: 0px 2px 2px 0px;
    content: "";
    width: 24px;
    top: 27px;
    left: 0;
    position: absolute;
    height: 0px;
}



.matome_content_block_timeline dt:first-child:before {
/*
		border-radius: 0px 0px 2px 2px;
*/
}
.matome_content_block_timeline dt:last-child:before {
/*
		border-radius: 0 0 2px 2px;
*/
}
.matome_content_block_timeline dt:first-child {
/*
		border-radius: 3px 0 0 0;
*/
}
.matome_content_block_timeline dd {
    margin: 0 0 0 0px;
    list-style-type: none;
    padding: 0px 0px 0px 19px;
}
.matome_content_block_timeline dd h3 {
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    margin: 5px 5px 10px 5px;
		font-size: 94%;
		padding: 0 0 5px 5px;
}
.matome_content_block_timeline dd p {
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    margin: 0;
}
.matome_content_block_timeline dt pre {
		color: #44a3da;
    font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 94%;
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.matome_content_block_timeline dd pre {
    font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 94%;
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.matome_content_block_timeline dt pre::before {
    border-bottom: 6px solid #44a3da;
    border-radius: 43px;
    border-top: 6px solid #44a3da;
    content: "";
    height: 0;
    left: -4px;
    position: absolute;
    top: 22px;
    width: 12px;
    z-index: 2;
}
.matome_content_block_timeline dt pre::after {
    border-bottom: 10px solid #aedcf8;
    border-radius: 43px;
    border-top: 10px solid #aedcf8;
    content: "";
    height: 0;
    left: -8px;
    position: absolute;
    top: 18px;
    width: 20px;
}



/******************
まとめ内 見出し画像
******************/
.matome_content_block_heading_image {
	margin: 0 0 30px 0;
	cursor: pointer;
}
/**************
まとめ内 コード
**************/
.matome_content_block_code {
	margin: 0 0 30px;
    background-color: #272822;
    color: #BEC0C1;
		border-radius: 2px;
}
.matome_content_block_code pre {
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	margin: 0;
	padding: 15px;
	line-height: 100%;
	white-space: pre-wrap;
	word-wrap: break-word;
	font-size: 98%;
  font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}
.matome_content_block_code code {

}


/******************
まとめ内 iTunes_app
******************/
.matome_content_block_itunes_app {
	margin: 0 0 30px 0;

	/* まとめ作成時のみ適応 */
	overflow: hidden;
}
.matome_content_block_itunes_app .matome_content_block_itunes_app_title {
    margin: 0 0 10px 0;
}
.matome_content_block_itunes_app .matome_content_block_itunes_app_title h3 {

}

.matome_content_block_itunes_app .matome_content_block_itunes_app_icon {
	float: left;
	width: 30%;
	box-sizing: border-box;
	padding: 0px 10px 10px 0;
}
.matome_content_block_itunes_app .matome_content_block_itunes_app_icon a {

}

.matome_content_block_itunes_app .matome_content_block_itunes_app_icon a img {
    width: 100%;
    height: auto;
border-radius: 30px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);

}
.matome_content_block_itunes_app .matome_content_block_itunes_app_data {
    float: left;
    width: 70%;
}
.matome_content_block_itunes_app .matome_content_block_itunes_app_data span {

}

.matome_content_block_itunes_app .matome_content_block_itunes_app_description {

}
.matome_content_block_itunes_app .matome_content_block_itunes_app_data_price {

}
.matome_content_block_itunes_app .matome_content_block_itunes_app_data_more {
    border: 1px solid #009BD8;
    border-radius: 2px;
    color: #009BD8;
    display: inline;
    padding: 5px 0;
}


.matome_content_block_itunes_app .matome_content_block_itunes_app_data_more a {
    padding: 5px 7px 5px 7px;
    display: inline;
}
.matome_content_block_itunes_app .matome_content_block_itunes_app_data_more a:visited {
    color: #009BD8;
}

.matome_content_block_itunes_app .matome_content_block_itunes_app_data_rating {

}
.matome_content_block_itunes_app .matome_content_block_itunes_app_data_rating .typcn {
    color: orange;
    margin: 0px -6px 0 0;
}


.matome_content_block_itunes_app .matome_content_block_itunes_app_data_badge {
	margin: 10px 0 4px 0;
}



.matome_content_block_itunes_app .matome_content_block_itunes_app_data_description_title {
    font-weight: bold;
    margin: 5px 0 0 0;
}

.matome_content_block_itunes_app .matome_content_block_itunes_app_data_description {

}
.matome_content_block_itunes_app .matome_content_block_itunes_app_data_description pre {
    font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 94%;
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.matome_content_block_itunes_app .matome_content_block_itunes_app_data_screenshots_title {
    font-weight: bold;
    margin: 5px 0 0 0;
}
.matome_content_block_itunes_app .matome_content_block_itunes_app_data_screenshots {
	position: relative;
	overflow: auto;

		/* まとめ作成時のみ適応 */
    width: 3000px;
}
.matome_content_block_itunes_app .matome_content_block_itunes_app_data_screenshots .gallery-cell {
    width: 45%;
    margin-right: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

		/* まとめ作成時のみ適応 */
		width: 300px;
		float: left;
}
.matome_content_block_itunes_app .matome_content_block_itunes_app_data_screenshots .gallery-cell img {
  width: 100%;
  height: auto;

}
.matome_content_block_itunes_app .matome_content_block_itunes_app_word {
	margin: 15px 0 0 0;
}
.matome_content_block_itunes_app .matome_content_block_itunes_app_word pre {
    border-left: 2px solid #dddddd;
    font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 94%;
    margin: 0;
    padding: 0 0 0 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
/****************
まとめ内 吹き出し
****************/
.matome_content_block_ballon {
  background: #FCFCFC;
  border: 2px solid #D7D7D7;
  border-radius: 2px;
	margin: 15px 0 30px;
  padding: 10px;
  position: relative;
}

.matome_content_block_ballon pre {
    font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 94%;
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.matome_content_block_ballon:after, .matome_content_block_ballon:before {
  left: 43px;
  border: solid transparent;
  position: absolute;
  pointer-events: none;
}
.matome_content_block_ballon:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #FCFCFC;
  border-width: 12px;
  margin-left: -12px;
}
.matome_content_block_ballon:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #D7D7D7;
  border-width: 15px;
  margin-left: -15px;
}
.arrow_box:after, .arrow_box:before, .matome_content_block_ballon:after, .matome_content_block_ballon:before {
  bottom: 100%;
  height: 0;
  width: 0;
  content: " ";
}
/************
まとめ内 囲み
************/
.matome_content_block_enclosed {
    background-color: #fcfcfc;
    border: 2px dashed #ffb9ff;
	display: block;
	margin: 15px 0 30px;
	padding: 10px;
}

.matome_content_block_enclosed pre {
    font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 94%;
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}
/************************
まとめ内 アマゾンレビュー
************************/
.matome_content_block_amazon_review {
    font-size: 94%;
		margin: 0 0 30px;
}

.matome_content_block_amazon_review ol {
	padding: 0;
	margin: 0;
}
.matome_content_block_amazon_review li {
	list-style: none;
	margin: 0 0 15px;
}

.matome_content_block_amazon_review .matome_content_block_amazon_review_rating {
   float: left;
    font-size: 111%;
    line-height: 153%;
    width: 84px;
}
.matome_content_block_amazon_review .matome_content_block_amazon_review_rating .typcn {
    color: #ffc000;
    margin: 0 -6px 0 0;
}
.matome_content_block_amazon_review .matome_content_block_amazon_review_title {
	 font-weight: bold;
}
.matome_content_block_amazon_review .matome_content_block_amazon_review_contributor {
	color: #555;
	margin: 0 10px 0 0;
}
.matome_content_block_amazon_review .matome_content_block_amazon_review_post_time {
	color: #555;
}
.matome_content_block_amazon_review .matome_content_block_amazon_review_content {

}
.matome_content_block_amazon_review .matome_content_block_amazon_review_content pre {
    font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 94%;
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}






























/*************
移動ツールバー
*************/
.toolbar {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: -22px;
}
.toolbar li {
	border: 1px solid #b6b6b6;
	float: left;
	height: 20px;
	position: relative;
	width: 20px;
	cursor: pointer;
	border-radius: 1px;
}
.toolbar li .typcn {
    position: relative;
    left: 2px;
    top: -5px;
		line-height: 0;
}

.toolbar .top {
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	margin: 0 -1px 0 0;
}
.toolbar .up {
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	margin: 0 -1px 0 0;
}
.toolbar .down {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	margin: 0 -1px 0 0;
}
.toolbar .bottom {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.toolbar li.off {
	color: #dedede;
	cursor: default;
}

/*************
エディットバー
*************/
.editbar {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    bottom: -18px;
}
.editbar li {
	float: left;
	height: 18px;
	position: relative;
	cursor: pointer;
	border-radius: 1px;
}
.editbar li .typcn {
    left: 2px;
    position: relative;
    top: -5px;
}
.editbar .edit {

}
.editbar .delete {
	margin: 0 0 0 5px;
}




/*******
iPad対応
*******/
@media screen and (min-width:0px)and (max-width:1200px) {
	.columns_2 {
	    margin-left: 23px;
	    margin-right: 30px;
	}
	.new_post_contents {
	    margin: 0;
	    width: 100%;
	}
	.new_post {
	    float: none;
	}
	.postboxs {
	    bottom: 0;
	    float: none;
	    position: relative;
	    width: 100%;
	}
	.postbox {
	    margin: 30px 0;
	}
}
@media screen and (min-width:0px)and (max-width:640px) {
	.text_design_tool {
	    display: none;
	}
	.admin_right {
	    margin-left: 0;
	}
}
