@charset "utf-8";

body {
	background-color: #F0F0F0;
}
/*
*/
textarea {
    font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;

}

/***********
ログイン設定
***********/
.login {
    bottom: 0;
    height: 300px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 216px;
}
.login_form {

}
.input {
    border: 1px solid #DADADA;
    border-radius: 3px;
    color: #3A3A3A;
    font-size: 22px;
    padding: 5px 7px;
    width: 200px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.login_button {
    background-color: #599CFC;
    border: 1px solid #4B8EFD;
    border-radius: 3px;
    color: #FCFCFC;
    cursor: pointer;
    float: right;
    padding: 5px;
    text-decoration: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.block {
	margin: 0 0 15px;
}
.reissue_link {
    float: left;
    font-size: 82%;
}





/***********
アドミン設定
***********/
.admin {

}
/*
左
*/
.admin_left {
    background-color: #F0F0F0;
    width: 170px;
		position: absolute;
		top: 0;
		bottom: 0;
/*
		position: relative;
*/
 /* 開発用 var_dempを見やすくするため  */
}
.admin_left_menu {
	border-top: 2px solid #F1F1F1;
}
.admin_left_menu:first-child {
    border-top: medium none;
    margin: 0;
}
.admin_left_menu a {
	color: #3A3A3A;
    display: block;
    padding: 10px;
}
.admin_left_menu a:hover {
    background-color: rgba(0, 0, 0, 0.02);
  transition: all 0.3s ease 0s;
}

.admin_left_menu ol {
    margin: 0;
    padding: 0;
}
.admin_left_menu li {
	list-style: none outside none;
}
.admin_left_menu dl {

}
.admin_left_menu dt {
	background-color: #e5e5e5;
	padding: 0 10px;
}
.admin_left_menu dd {
	margin: 0;
}
.admin_left_menu dd a {
    display: block;
    padding: 10px;
}
/*
右
*/
.admin_right {
    background-color: #EAEAEA;
    margin-left: 170px;
/*
    float: right;
    width: 200px;
*/
}
.admin_right_block {

}
.admin_right_block_logout {
	float: right;
}
.admin_right_block_logout a {
	padding: 10px;
}
.columns_2 {
	margin-right: 300px;
padding: 30px 0 0;
}
.new_post {
/*
    background-color: #FCFBF9;
    float: left;
    margin: 0 0 0 10px;
    width: 100%;
*/
    float: left;
    width: 100%;
}
.new_post_contents {
margin: 30px;
}
/*****************
記事アップフォーム
*****************/
.new_post h1 {

}
.new_post form {

}
.new_post form #title {
    display: inline;
    font-size: 150%;
    line-height: 120%;
		font-weight: bold;
}
.new_post form input {
    -moz-box-sizing: border-box;
    background-color: #FBFBFB;
    border: 1px solid #CFCFCF;
    border-radius: 2px;
		font-size: 100%;
    color: #606060;
    padding: 10px;
    width: 100%;
}
.new_post form input[type="text"] {

}
.new_post form input[type="file"] {

}
.new_post form input[type="submit"] {

}

.new_post form textarea {
    -moz-box-sizing: border-box;
    background-color: #FBFBFB;
    border: 1px solid #CFCFCF;
    border-radius: 5px;
		color: #606060;
    font-size: 100%;
    height: 700px;
    padding: 5px 0 5px 5px;
    width: 100%;
}
.new_post .contents {
	height: 120px;
}
.postboxs {
    float: right;
    margin-right: -300px;
    width: 300px;
}
.postbox {
	margin: 30px 0 0;
    background-color: #FCFBF9;
    border-radius: 2px;
    box-shadow: 1px 2px 0 2px rgba(0, 0, 0, 0.05);
}
.postbox_contents {
	padding: 5px;

}

.postbox h3 {
	background-color: #EEEEEE;
	padding: 5px;
}

.postbox {
	position: relative;
}

/*****************
サムネイルフォーム
*****************/
.thumbnail_form_delete_button {
    bottom: 5px;
    cursor: pointer;
    padding: 0 5px;
    position: absolute;
    right: 5px;
	background-color: #FFFFFF;
}

.thumbnail_form_delete_button:hover {
	background-color: #ED482D;
}

/***********
編集記事一覧
***********/
.article_list {
	top: 22px;
    margin: 0 15px;
}
.article_list_content {
    background-color: #FEFEFE;
    border: 1px solid #DDDDDD;
    margin: 0 0 15px;
    padding: 10px;
}
.article_list_content_edit {


}
.article_list_content_edit ul {
    margin: 0;
    padding: 0;

}
.article_list_content_edit li {
    float: left;
    list-style: none outside none;
		margin: 5px 0 0;
}
.article_list_content_edit a {
    background-color: #DCDCDC;
    border-radius: 2px;
    color: #000000;
		cursor: pointer;
    margin: 0 10px 0 0;
    padding: 2px 5px;
}











/*********************
プロフィール編集ページ
*********************/
.account_form {
	color: #474747;
}

.control_h2 {
    border-left: 5px solid #e5e5e5;
    font-size: 125%;
		margin: 0 0 15px;
    padding: 0 0 0 10px;
}
.control_group {
	margin: 0 0 30px;
}
.control_group .controls {
}
.control_group label {
	color: #121212;
}
.control_group .controls input[type="text"] {
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    padding: 5px;
		font-size: 94%;
		color: #474747;
		width: 300px;
		box-sizing: border-box;
}
.control_group .controls textarea {
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    box-sizing: border-box;
    color: #474747;
    font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 94%;
    min-height: 230px;
    padding: 5px;
    width: 300px;
}

.control_group .controls .upload_button {
    background: dodgerblue none repeat scroll 0 0;
    border-radius: 2px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    line-height: 30px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 120px;
}
.control_group .controls .upload_button::after {
    content: "ファイルを選択";
    font-size: 82%;
    position: relative;
    top: -4px;
}

.control_group .controls input[type="file"] {
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: #fbfbfb;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    box-sizing: border-box;
    color: #606060;
    font-size: 100%;
    padding: 10px;
    width: 100%;
}
.account_form .submit {
    background-color: #505050;
    border: 1px solid #505050;
    border-radius: 3px;
    color: #eeeeee;
    cursor: pointer;
    padding: 5px 7px;
}

/*************
アナリティクス
*************/
#analytics_div {
 height: 400px;
}
.analytics_data {
	color: #292f33;
	margin: 0 0 55px 100px;
}
.analytics_data_content {

}
.analytics_data_content_pv_title {
 font-size: 24px;
}
.analytics_data_content_pv_number {
 font-size: 32px;
}
.analytics_data_content_ul {
	 float: left;
    list-style: outside none none;
		margin: 0 75px 0 0;
    padding: 0;
}
.analytics_data_content_ul_title {
 font-size: 20px;
}
.analytics_data_content_ul_number {
 font-size: 24px;

}
/**************************
アナリティクス・ページリスト
***************************/
.analytics_page_list {
margin: 0 0 0 100px;
}
.analytics_page_list_title {
	float: left;
	margin: 0 5px 0 0;
	width: 70%;
}
.analytics_page_list_view {

}
.analytics_page_list_content {
    list-style-type: decimal;
    padding: 0;
}
.analytics_page_list_content_link {
    border-top: 1px solid #c8c8c8;
    margin: 0;
    padding: 10px;
    position: relative;
}
.analytics_page_list_content_link:first-child {
    border-top: 1px solid #777777;	
}
.analytics_page_list_content_link.even {
	background-color: #f8f8f8;
}
.analytics_page_list_content_link:hover {
	background-color: #efefef;
}


.analytics_page_list_content_link a {
    display: block;
    /* float: left; */
    margin: 0 5px 0 0;
    width: 70%;
}
.analytics_page_list_content_link a:visited {
	color: #009bd8;
}


.analytics_page_list_content_link_title {

}
.analytics_page_list_content_link_view {
    position: absolute;
    top: 0;
    left: 70%;
    margin: 0px 0 0 5px;
}


/*************
インセンティブ
*************/
.incentive_data {
	color: #292f33;
	margin: 50px 0 50px 50px;
}
.incentive_data_content {

}
.incentive_data_content_pv_title {
 font-size: 24px;
}
.incentive_data_content_pv_number {
 font-size: 32px;
}
.incentive_data_content_ul {
	 float: left;
    list-style: outside none none;
		margin: 0 75px 0 0;
    padding: 0;
}
.incentive_data_content_ul_title {
 font-size: 20px;
}
.incentive_data_content_ul_number {
 font-size: 24px;
font-weight: bold;
}
.incentive_data_content_ul_payment {

}
.incentive_data_content_ul_payment a {
    background-color: #efefef;
    border: 1px solid #ddd;
    border-radius: 2px;
    color: #292f33;
    display: block;
    height: auto;
    padding: 10px 20px;
    text-align: center;
    width: 74px;
}
.incentive_data_content_ul_payment span {
	font-size: 82%;
}


/*******

**********/
.incentive_data_report {
	margin: 0 0 0 50px;
}
.incentive_data_report_title {

}
.incentive_data_report_title h2 {

}
.incentive_data_report_content {
 margin: 15px 0 0;
}
.incentive_data_report_content_summary {

}
.incentive_data_report_content_summary h3 {

}

/*************************
インセンティブ専用テーブル
*************************/
.incentive_table_1 {
  border-radius: 2px;
  border-collapse: collapse;
  border-spacing: 0;
}
.incentive_table_1 thead tr {
  border-top: 1px solid #D7D7D7;
  border-bottom: 1px solid #D7D7D7;
}

.incentive_table_1 thead tr th:nth-child(2) {
	border-left: 1px solid #d7d7d7;
	border-right: 1px solid #d7d7d7;
}
.incentive_table_1 tbody tr {
  border-bottom: 1px solid #EFEFEF;
}
.incentive_table_1 th {
  background: #EFEFEF;
}
.incentive_table_1 td, .incentive_table_1 th {
	padding: 15px 45px;
  text-align: center;
}
.incentive_table_1 .total {

}
.incentive_table_1 .total td {
	font-weight: bold;
}


/***

*/
.incentive_data_report_content_paid {
	margin: 30px 0 0 0;
}
/****

*****/
.incentive_data_content_ul_payment.error {
	 opacity: 0.25;
}
.incentive_data_content_ul_payment.error a:hover {
  text-decoration: none;
}
.incentive_data_content_ul_payment.error a:visited {
  text-decoration: none;
}
.incentive_payrequest_error {
 margin: -5px 0 50px 50px;
}
.incentive_payrequest_error p {
	color: red;
}
/************

*********/
.incentive_ticket_list {

}
.incentive_ticket_list_content {

}
.incentive_ticket_list_content ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.incentive_ticket_list_content li {
    background-color: #fefefe;
    border: 1px solid #dddddd;
    margin: 0 0 15px;
    padding: 10px;
}
.incentive_ticket_list_content ul li p {
	margin: 0;
}
.incentive_ticket_complete {

}
.incentive_ticket_complete a {
    background-color: #dcdcdc;
    border-radius: 2px;
    color: #000000;
    margin: 0 10px 0 0;
    padding: 2px 5px;
}
/*******************
全ユーザーメール送信
*******************/
.mail {

}
.mail .mail_inner {

}
.mail .mail_inner input[type=text] {
    border: 1px solid #ddd;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 0 0 15px;
    padding: 15px;
    width: 100%;
}
.mail .mail_inner textarea {
    border: 1px solid #ddd;
    border-radius: 2px;
    box-sizing: border-box;
		font-size: 94%;
    height: 300px;
    padding: 15px;
    width: 100%;
}
.mail .mail_inner .mail_submit,
.mail .mail_inner input[type=submit] {
    background-color: #ff5555;
    border: 0 solid #fff;
    border-radius: 2px;
    color: #fcfcfc;
    cursor: pointer;
    display: block;
    margin: 15px 0 0;
    padding: 15px;
    text-align: center;
    width: 100%;
}

/*********************
注目まとめ追加フォーム
*********************/
.recommend_article {

}
.recommend_article .recommend_article_inner {

}
.recommend_article .recommend_article_inner input[type=text] {
    border: 1px solid #ddd;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 0 0 15px;
    padding: 15px;
    width: 100%;
}
.recommend_article .recommend_article_inner textarea {
    border: 1px solid #ddd;
    border-radius: 2px;
    box-sizing: border-box;
		font-size: 94%;
    height: 300px;
    padding: 15px;
    width: 100%;
}
.recommend_article .recommend_article_inner .recommend_article_submit,
.recommend_article .recommend_article_inner input[type=submit] {
    background-color: #ff5555;
    border: 0 solid #fff;
    border-radius: 2px;
    color: #fcfcfc;
    cursor: pointer;
    display: block;
    margin: 15px 0 0;
    padding: 15px;
    text-align: center;
    width: 100%;
}






