/***
基本
***/
.second_navi {
	display: none;
}

#wrapper {
	background-color: #FFFFFF;
}
.main {
	background-color: #FFFFFF;
}
.sidebar {
    float: left;
}
.main_contents {
    float: right;
		width: 100%;
}
/***************
コンテンツカード
***************/
.card_article {
	margin: 5px 0 0 0;
}
.card_article li {
border-bottom: 1px solid #eee;
box-sizing: border-box;
float: left;
list-style: none;
margin: 0;
padding: 15px;
position: relative;
width: 100%;
}
.card_article li:hover {
		border-bottom: 1px solid #ff3f3f;
}
.card_article li, .card_article ul {
    margin: 0;
}
.card_article_contents {
    width: 62%;
}
.card_article_contents {
    box-sizing: border-box;
    float: right;
    margin: 0;
    padding: 0 0 0 10px;
    right: 10px;
    width: 90%;
}
.card_article_contents h1 {
    font-size: 100%;
}

.card_article_contents_summary {
    display: none;
}
.card_article_contents_time {
    bottom: 5px;
    left: 10px;
    right: auto;
}
.card_article_contents_author {
    bottom: 5px;
}
.card_article figure {
    width: 10%;
}
.card_article figure {
    margin: 0 0 24px;
}
.category_band, .second_navi {
    display: none;
}
/*********
ページング
*********/
.paging {
    clear: both;
    color: #3a3a3a;
    margin: 30px 0 41.6px;
}
.paging ul {
    margin: 0;
}
ul {
    color: #3a3a3a;
}
.paging li {
    float: left;
    list-style: outside none none;
    margin: 10px 10px 10px 0;
}
.paging span {
    color: #292f33;
    padding: 5px 10px;
}
.paging a {
    background-color: #fcfcfc;
    border: 1px solid #e7e7e7;
    border-radius: 2px;
    color: #7f7f7f;
    font-size: 94%;
    padding: 5px 12px;
    transition: all 0.3s ease 0s;
}
/*****************
プロフィールカード
*****************/
/*
article.cssにも移植されているので更新するときは両方する
*/

.profile_card {


}
.profile_card_content {
    background-color: #ffffff;
/*
    border: 1px solid #e7e7e7;
*/
    border-radius: 2px;
/*
		box-shadow: 0 0 0 1px #e7e7e7;
*/
    padding: 15px;
}
.profile_card_content_data {

}
.profile_card_content_data_left {
    float: left;
		margin: 0 15px 0 0;
}
.profile_card_content_data_left img {
	border-radius:2px;
}
.profile_card_content_data_right {
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.profile_card_content_data_right_top {
    border-bottom: 1px solid #ddd;
    margin: 0 0 10px;
    padding: 0 0 10px;
}
.profile_card_content_data_right_top_summary {
    color: #292f33;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    margin-bottom: -1px;
}
.profile_card_content_data_right_top_matome_create_number {


}
.profile_card_content_data_right_bottom {

}
.profile_card_content_data_right_bottom_summary {
    color: #292f33;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    margin-bottom: -1px;
}
.profile_card_content_data_right_bottom_all_page_view {

}
.profile_card_content_name {
	 margin: 10px 0 15px;
}
.profile_card_content_name a {
    color: #292f33;
}
/*
.profile_card_content_name a:link {
	text-decoration: underline;
}
.profile_card_content_name a:hover {
	text-decoration: none;
}
*/

.profile_card_content_summary {

}
.profile_card_content_site {

}
.profile_card_content_site a {
    color: #292f33;
    font-size: 94%;
}
.profile_card_content_site a .typcn-home-outline {
    margin: 0 2px 0 0;
    position: relative;
    top: -1px;
}
/***********
タイプリスト
***********/
.type_list {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 78%;
}

.type_list li {
    float: left;
		padding: 0 15px;
	border-bottom: 2px solid transparent;
	box-sizing: border-box;
}

.type_list li a {
	color: #6f6f6f;
	display: block;
	padding: 7px;
}

.type_list li.now {
	border-bottom: 2px solid #ff3f3f;
	padding: 7px 22px;
}
.type_list li.now a {
	color: #000000;
}
.type_list li .article_num {
    color: #292f33;
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
		position: relative;
		top: 4px;
}
.type_list li .out {
	color: #6f6f6f;
/*
    position: relative;
    top: 7px;
*/
}
.type_list li:hover {
	border-bottom: 2px solid #ff3f3f;
}
.type_list li a:hover {
	text-decoration: none;
}

.type_list li .title_text {
	text-align: center;
}











/**********

**********/
@media screen and (min-width:0px)and (max-width:1023px) {
	.sidebar {
	    display: block;
	    float: none;
	    margin: 0 0 30px;
	    width: 100%;
	}
}
@media screen and (min-width:0px)and (max-width:768px) {
	.main {
	    margin: 0 auto;
	    overflow: hidden;
			padding: 59px 0 0 0 !important;
	}
	.card_article_contents h1 {
	    margin: 0 0 21px;
	}
	/*****************
	プロフィールカード
	*****************/
.profile_card_content_data {
		box-sizing: border-box;
}
.profile_card_content_data_left {
	box-sizing: border-box;
	margin: 0;
	float: none;
}
.profile_card_content_data_left img {
    border-radius: 2px;
    display: block;
    margin: 0 auto;
    text-align: center;
		width: 96px;
		height: auto;
}




.profile_card_content_data_right {
		box-sizing: border-box;
   font-size: 12px;
	float: right;
	width: 75%;
 width: 175px;
}
	.profile_card_content_data_right_top {
		float: left;
		border-bottom: 0px solid #ddd;
		margin: 0 10px 0 0;
		padding: 0;
		box-sizing: border-box;
	}
	.profile_card_content_data_right_bottom {
		float: right;
		box-sizing: border-box;
	}
.profile_card_content_data_right_top_summary {
    color: #292f33;
    font-size: 14px;
    margin-bottom: 0;
    position: relative;
    top: 8px;
}
.profile_card_content_data_right_top_matome_create_number {
    color: #666;
}
.profile_card_content_data_right_bottom_summary {
    color: #292f33;
    font-size: 14px;
    margin-bottom: 0;
    position: relative;
    top: 8px;
}
.profile_card_content_data_right_bottom_all_page_view {
    color: #666;
}
.profile_card_content_name {
    margin: 10px 0 15px;
   text-align: center;
	 font-size: 18px;
}
.profile_card_content_summary p {
	line-height: 135%;
}

	/***********
	タイプリスト
	***********/
	.type_list {
		font-size: 62%;
	}	
	.type_list li {
	    margin: 0;
	    text-align: center;
	    width: 33%;
	}	
	.type_list li a {

	}
	
	.type_list li.now {

	}
	.type_list li.now a {

	}










}
@media screen and (min-width:0px)and (max-width:360px) {
	.card_article_header {
	    font-size: 122%;
	}
}


@media screen and (min-width:0px)and (max-width:320px) {
	.main {
		padding: 59px 0 0 0 !important;
	}
	.card_article_contents {
	    width: 85%;
	}
	.card_article figure {
	    width: 15%;
	}
}
