@charset "UTF-8";


#wrapper {
    background-color: #ffffff;
}


.main {
	padding: 50px 0 0 0;
background-color: #ffffff;
}








/*********
関連テーマ
**********/
.theme_relation {
	margin: 13px 0 0;
}
.theme_relation h2 {
	font-size: 100%;
}
.theme_relation ul {
    margin: 0;
    padding: 0;
}
.theme_relation ul li {
    border: 1px solid #e7e7e7;
    color: #666;
    float: left;
    list-style: outside none none;
    font-size: 75%;
    margin: 10px 10px 0 0;
	z-index: 1;
}

.theme_relation ul li a {
    color: #666;
    padding: 10px 0px 10px 5px;
}
.theme_relation ul li a .theme_num {
	background-color: #FCFCFC;
	padding: 7px 7px 8px 7px;
	margin: 0px 0px 0px 6px;
	border-left: 1px solid #e7e7e7;
	position: relative;
	top: -1px;
	color: #292f33;
	z-index: -1;
}



.theme_relation ul li .typcn-folder {
	font-size: 125%;
}
.theme_relation ul li .typcn-tag {
font-size: 110%;
margin: 0px 3px 0px 0px;
position: relative;
top: 0px;
}


















/*************************
メディアクエリ設定 0〜768
*************************/
@media screen and (min-width: 0px) and (max-width: 768px) {
	.main {

	}

}








