








#wrapper {
    background-color: #ffffff;
}

.main {
    background-color: #ffffff;
}
.main_contents {
    float: none;
    max-width: none;
}
.sidebar {
    float: none;
    width: 0;
		display: none;
}
/*******
利用規約
*******/
.rule {
	margin: 38px 0 0;
}
.rule .rule_inner {

}
.rule .rule_inner .rule_header {
    background-color: #eee;
    border-radius: 2px;
    padding: 15px;
		margin: 0 0 15px;
}
.rule .rule_inner .rule_header h2 {

}
.rule .rule_inner .rule_section {

}
.rule .rule_inner .rule_section h3 {
    border-left: 5px solid #ff3f3f;
    padding: 2px 0 2px 15px;
}
.rule .rule_inner .rule_section a {

}
.rule .rule_inner .rule_section ol {

}
.rule .rule_inner .rule_section li {

}









/**********

**********/
@media screen and (min-width:0px)and (max-width:1023px) {
	.rule {
	    margin: 38px 15px;
	}
}
@media screen and (min-width:0px)and (max-width:768px) {

}
@media screen and (min-width:0px)and (max-width:320px) {

}
